

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }



.app{
    height: 100%;
    width: 100%;

}

.page-container{
    height: 68vh;
    width: 100vw;
    text-align: center;
}

.caption-img{
    width: 30%;

}
/* Vision-------------------------------------------------------------->>>>>>>>>>>>>>>>>>>>>> */

.wrapper {
    width: 100vw;
    margin: 0 auto;
    padding: 20px 40px;
  }
  
  .heading {

    text-align: center;
    color:#234776
  }
  
  .container {
    padding: 100px 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    height: 100%;
  }
  
  .c1,
  .c3 {
    background-color: rgb(235, 245, 241);
    text-align: center;
    padding: 0px 30px;
    border-radius: 15px;
   
  }

  .c3-forPadding{
    padding-bottom: 20px;
  }
  .c1-forPadding{
    padding-bottom: 20px;
  }
  .c2{
    text-align: center;
  }
  h3{
    padding: 20px 0px;
  }
  .visionhead{
    padding-top: 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .wrapper {
      width: 90%;
    }
  
    .container {
      grid-template-columns: 1fr;
    }
  }
  
/*Vision ---------------------------------------------------------------------------------------->>>>>>>>>>>>>>>>>>>>> */

/* FORM-------------------------------->>>>>>>>>>>>> */
.signupmain {
  height: 50%;
}

.form-body {
  height: 700px;
  width: 500px;
  display: block;
  background-image: url(../images/signup.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  border-radius: 10px;
}

h3 {
  color: rgb(34, 111, 178);
  padding-top: 0px;
}

.form-main {
  height: 400px;
  width: 350px;
  margin: 0 auto;
}

.form {
  width: 100%;
  display: grid;
  gap: 6px;
  padding: 20px;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.checkbox {
  display: flex;
  border-radius: 5px;
}

.checkbox label {
  padding-right: 40px;
}

label {
  font-weight: bold;
  color: white;
}

.formsubmit {
  padding-bottom: 10px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
}

h5 {
  padding: 6px;
  padding-right: 10px;
  color: rgb(34, 111, 178);
}

option {
  color: grey;
}

button {
  padding: 6px 25px;
  background-color: #234776;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #234776;
}

/* Additional styling for the form container */
.form-container {
  margin-top: 50px;
  text-align: center;
}

.formsubmit {
  padding-left: 20px;
}

.head {
  text-align: center;
  font-size: 24px;
  color: rgb(34, 111, 178);
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .form-body {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .form-main {
    width: 100%;
    height: auto;
  }

  .form {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
  }

  button {
    width: 100%;
  }
}

  
  
  /* FORM-------------------------------->>>>>>>>>>>>> */
  
/* ContactUs---------------------------------->>>>>>>>>>>>>> */
.containerContact {
  max-width: 600px;
  margin: 0 auto;
  padding: 0px 20px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.contact-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

form {
 width: 290px;
 padding-left: 50px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
.submit{
  width:80px;
}
.submit input[type="submit"] {
  background-color: #234776;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit input[type="submit"]:hover {
  background-color: #234776;
}

/* Media Queries for Responsive Layout */

@media screen and (max-width: 480px) {
  .containerContact {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  .contact-main {
    flex-direction: column;
  }

  .contact-item,
  form {
    width: 100%;
  }
}


/* ContactUs---------------------------------->>>>>>>>>>>>>> */

/* Login-------------------------------------------->>>>>>>>>>>>>>>>> */

.super {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.login-body {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  height: 450px;
  background-image: url(../images/bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-main {
  text-align: center;
  
}
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 90px;
  margin: 0;;
  width: 80%;
}
.head {
  color: black;
  font-weight: 600;
  font-style:inherit;
  font-size: 28px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  padding-top: 70px;
  
}

.login input[type="text"],
.login input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.login button {
  background-color: #234776;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login button:hover {
  background-color: #234776;
}

/* Media Queries for Responsive Layout */

@media screen and (max-width: 480px) {
  .super {
    padding: 10px;
  }

  .head {
    font-size: 24px;
  }
}

/* Login-------------------------------------------->>>>>>>>>>>>>>>>> */

/* Home----------------------------------------------->>>>>>>>>>>>>>>> */
.banner{
  height: 100vh;
  width: 100vw;
}
.banner1{
  width: 100%;
  display: flex;
  padding: 20px 10px;
  height: 500px;
}
.intro{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 34px;
}

.banner1-left{
  width: 50%;
  height: 300px;
  padding: 0px 50px;
  
}
.banner1-right{
  width: 700px;
  height: 400px;
  background-image: url(../images/main1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.text2 p{
  padding-top: 100px;
}
.intro-body{
 
  text-align: left;
}
.intro{
  padding-top: 40px;
  padding-bottom: 20px;
}
.text1{
  padding-top: 50px;
}

.banner2{
  width: 100%;
  display: flex;
  padding: 0px 10px;
  height: 450px;
}
.banner2-right{
  width: 50%;
  height: 300px;
  padding: 0px 50px;
}

.banner2-left{
  width: 700px;
  height: 400px;
  background-image: url(../images/img2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.hero-cont{
  background-image: url(../images/main2.png);
  height: 100%;
}
.hero-cont-head {
  padding: 0;
}
.hero-cont-head{
  font-style: italic;
  font-weight: 18px;
}
.history{
  width: 100%;
  display: flex;
  padding: 20px 10px;
  height: 400px;
}
.historyleft{
  width: 50%;
  height: 300px;
  padding: 0px 50px;
}
.historyText{
  padding-bottom: 40px;
  padding-right:330px;
  width: 900px;
  
}

.history-cont{
  text-align: left;
  padding: 20px 20px;
  height: 100%;
}
.historyright{
  width: 700px;
  height: 400px;
  background-image: url(../images/child-approach.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: fit;
}
.whatwedo{
  height: 30%;
  background-color: rgb(222, 244, 237);
}
.whatwedo-text{
  font-weight: 700;
  font-size: 28px;
  text-align: left;
  padding-left: 10px;
  
}

.whatwedo-cont p{
  text-align: left;
  padding: 10px ;
  padding-right: 70px;
}
.whyeducation{
  height: 30%;
}
.whyeducation-text{
  font-weight: 700;
  font-size: 28px;
  text-align: left;
  padding-left: 10px;
  
}

.whyeducation-cont p{
  text-align: left;
  padding: 10px ;
  padding-right: 70px;
}

.gallery{
  height: 20%;
  
}
.g-text{
  font-weight: 39px;
}
.gallery1{
  display: flex;
  justify-content: space-between;
  height: 400px;
  width: 100%;
}
.g1{
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 20px;
  height:300px;
  width: 30%;
  background-image:url(../images/pic1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.g2{
  border-radius: 10px;
  margin-top: 50px;
  height:300px;
  width: 30%;
  background-image:url(../images/pic2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.g3{
  border-radius: 10px;
  margin-top: 50px;
  margin-right: 30px;
  height:300px;
  width: 30%;
  background-image:url(../images/pic3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gallery2{
  display: flex;
  justify-content: space-between;
  height: 350px;
  width: 100%;
}
.g4{
  border-radius: 10px;
  margin-left: 20px;
  height:300px;
  width: 30%;
  background-image:url(../images/pic4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.g5{
  border-radius: 10px;
  height:300px;
  width: 30%;
  background-image:url(../images/pic5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.g6{
  border-radius: 10px;
  margin-right: 30px;
  height:300px;
  width: 30%;
  background-image:url(../images/pic6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.publication1{
  background-color: rgb(222, 244, 237);
  height: 30%;
  width: 100%;
}
.publication-head{
  
  padding-top: 40px;
  font-weight: 2000;
  font-style: bold;
}
.publication-cont{
  padding: 10px 20px;
  text-align: left;
}
.publication2{
  background-color: rgb(222, 244, 237);
  height: 30%;
  width: 100%;
  text-align: left;
  padding-left: 530px;
  font-style: italic;
}
.pub-text{
  width: 100%;
  font-weight: 500;
}
.pub-list{
  text-align: left;
}




/* Home----------------------------------------------->>>>>>>>>>>>>>>> */


/* storiess---------------------------------->>>>>>>>>>>>>>>> */

.container {
  width: 100%;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 15px;
}

.col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: -15px;
  padding-left: -15px;
  max-width: 33.333333%;
}

.work-wrap {
  background: #6284b1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.35);
  margin: 0 0 40px 0;
  transition: 0.4s;
  text-align: center;
  height: 400px;
}

.work-wrap a {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

.work-wrap .img-wrap {
  width: 80%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  margin: 0 auto 35px auto;
}

.work-wrap .work-contn {
  text-decoration: none;
  color: rgb(250, 250, 252);
  font-size: 18px;
}

.work-wrap .work-contn p {
  font-size: 12px;
  line-height: 30px;
  color: rgb(240, 241, 244);
  margin: 0;
}

/* Media Queries for Responsive Adjustments */

@media only screen and (max-width: 768px) {
  .col-md-4 {
    max-width: 50%;
  }
  
  .work-wrap {
    height: auto;
  }
  
  .work-wrap .img-wrap {
    height: 150px;
  }
  
  .work-wrap .work-contn {
    font-size: 16px;
  }
  
  .work-wrap .work-contn p {
    font-size: 10px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 480px) {
  .col-md-4 {
    max-width: 100%;
  }
  
  .work-wrap .img-wrap {
    height: 120px;
  }
  
  .work-wrap .work-contn {
    font-size: 14px;
  }
  
  .work-wrap .work-contn p {
    font-size: 9px;
    line-height: 20px;
  }
}


/* storiess---------------------------------->>>>>>>>>>>>>>>> */